body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px;
}

#root > * {
  width: 100%;
  max-width: 800px;
}

.MuiListItem-root .price {
  text-align: end;
}

.MuiFormGroup-root {
  align-items: center;
}

.MuiFormGroup-root .MuiTextField-root {
  width: 100%;
}

.MuiFormGroup-root .MuiFormControlLabel-root {
 width: fit-content; 
}